region_name         = "cn-north-4"
vpc_name            = "demo-sqlserver-vpc"
subnet_name         = "demo-sqlserver-subnet"
security_group_name = "demo-sqlserver-sg"
rds_name            = "demo-sqlserver-rds"
rds_password        = "replace-in-local-terraform-tfvars"
