region_name         = "cn-north-4"
vpc_name            = "demo-rds-replica-vpc"
subnet_name         = "demo-rds-replica-subnet"
security_group_name = "demo-rds-replica-sg"
primary_name        = "demo-rds-primary"
replica_name        = "demo-rds-read-replica"
rds_password        = "replace-in-local-terraform-tfvars"
