region_name             = "cn-north-4"
vpc_name                = "demo-web-vpc"
subnet_name             = "demo-web-subnet"
web_security_group_name = "demo-web-sg"
db_security_group_name  = "demo-db-sg"
web_ingress_cidr        = "203.0.113.10/32"
instance_name           = "demo-web-ecs"
admin_password          = "replace-in-local-terraform-tfvars"
rds_name                = "demo-web-rds"
rds_password            = "replace-in-local-terraform-tfvars"
loadbalancer_name       = "demo-web-elb"
